<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login do Empresa</title>
</head>

<body class="bg-sky-950 h-screen items-center flex justify-center">
<form action="" class="flex gap-24" th:action="@{/company/signIn}" method="post">
    <div class="text-white text-center max-w-80 text-6xl flex items-center">
        Gestão de Vagas Company Version
    </div>
    <div class="space-y-8 bg-zinc-900 roundend-md p-20">

        <input type="text" name="username"
               class="bg-gray-100 text-gray-900 text-xd rounded w-96 block p-3 focus:outline-none focus:ring-purple-600 focus:ring-2"
               placeholder="Usuário">

        <input type="password" name="password"
               class="bg-gray-100 text-gray-900 text-xd rounded w-96 block p-3 focus:outline-none focus:ring-purple-600 focus:ring-2"
               placeholder="Senha">

        <p class="text-red-400 text-center" th:if="${error_message}" th:text="${error_message}"></p>

        <button class="bg-purple-900 w-96 p-4 rounded text-white hover:bg-purple-700">Entrar</button>

        <p class="mt-4 text-white text-center">
            Não possui uma empresa cadastrada? <a href="/company/create" class="text-center text-purple-700 underline underline-offset-2 hover:text-purple-600 no-underline">Clique aqui.</a>
        </p>

    </div>
</form>
</body>
</html>