<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HTML + Thymeleaf</title>
    </head>

    <body>
        <p th:text="${mensagemController}"></p>

        <form method="post" th:action="@{/create}" th:object="${person}">
            Nome: <input type="text" name="name">
            <br />
            Email: <input type="text" name="email">
            <br />
            Usuário: <input type="text" name="username">
            <br />
            <button>cadastrar candidato</button>
        </form>
    </body>
</html>